body {
  font-family: "Quicksand", sans-serif;
}
#text {
  text-align: justify;
  column-count: 2;
  column-fill: balance;
  column-gap: 50px;
  padding-left: 50px;
  padding-right: 50px;
}
#carouselIndicators {
  text-align: center;
}
button.active {
  background-color: black !important;
}

.container-fluid {
  font-weight: bold;
  color: black;
}

.nav-link {
    color: #303464!important;
}


.navbar-nav :hover {
  color: black;
}

footer {
  padding-left: 50px;
  padding-right: 50px;
}
a {
  color: black;
}
a:hover {
  color: black;
}
.col-md-4 {
  padding-left: 100px;
}
.checked {
  color: orange;
}
.fa-star1 {
  padding-left: 50px;
}
