/*QuickReset*/
* {
  margin: 0;
  box-sizing: border-box;
}

.modal {
  position: fixed;
  z-index: 99999;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  transition: 0.4s;
  backdrop-filter: blur(3px);
  background: rgba(0, 0, 0, 0.1);
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
}

.modal.is-active {
  pointer-events: auto;
  visibility: visible;
  opacity: 1;
}

.modal-content {
  position: relative;
  background: #fff;

  box-shadow: 0 5px 20px -5px rgba(0, 0, 0, 0.3);
  width: 80%;
}

form {
  position: inherit;


}

.modal-close {
  position: inherit;
}

button.modal-close {
  border-radius: 20%;
  background-color: #303464;
  border-color: #182627;
  color: white;

}

.col-12 {

  text-align: center;
}

.col-md-8 {
  padding-left: 0px;
}

.btn-primary {
  background-color: white;
  color: #303464;
}

.btn-primary:hover {
  background-color: #182627;
  border-color: #182627;
}

.modal-header {
  color: white;
  background-color: #303464;

}

.modal-body {
  padding-top: 10;
  padding-left: 40px;
  padding-right: 40px;
  color: #303464;

}

.modal-footer {

  padding: 0px;
}

.form-check-.form-check-input.is-valid~.form-check-label,
.was-validated .form-check-input:valid~.form-check-label 
    {
    color: #303464 !important;
  }
  .form-check-input:checked{
    background-color: #303464 !important;
  }